:root{
    --color-blue:#295572;
    --color-green:#a2e774;
    --color-body:#242424;
    --color-container:#1E1E1E;
    --color-link:#2F2F2F;
    --color-link-hover:#555;
    --color-text:#B8B8B8;
    --color-select:black;
    --color-h:#BDBDBD;
    --color-sharp:#505050;
    --color-hr:#8c8b8b;
}
