:root {
    --color-blue: #74b9e7;
    --color-green:#a2e774;
    --color-body:#eee;
    --color-container:#f8f8f8;
    --color-link:#ddd;
    --color-link-hover:#aaa;
    --color-text:black;
    --color-select:#fff;
    --color-h:black;
    --color-sharp: #aaa;
    --color-hr:#8c8b8b;
}